/* App.css */

body {
  margin: 0;
  padding: 0;
  /* background-image:url('./assets/background.jpeg'); */
  background-color: #d1d5db;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', sans-serif;
  justify-content: center;
  color:#0a0a0a;
  padding:30px;
}

.container {
  max-width:screen;
  min-width:1000px;
  margin: 40px auto;
  padding: 30px;
  
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #0f172a;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  margin-bottom: 25px;
}

.message {
  color: #64748b;
  font-size: 16px;
  margin-top: 20px;
}

/* App.css */

.dashboard {
  display: flex;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.267); /* kinda transparent */
  border-radius: 16px; /* nice rounded corners */
  backdrop-filter: blur(10px); /* the actual blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.3); /* a soft border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 25%;
  padding: 20px;
  background: rgba(39, 38, 38, 0.1); /* kinda transparent */
/* nice rounded corners */
  backdrop-filter: blur(10px); /* the actual blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}

.main {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

select.dropdown {
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.snapshotcard{
  background: rgba(255, 255, 255, 0.1); /* kinda transparent */
  border-radius: 16px; /* nice rounded corners */
  backdrop-filter: blur(10px); /* the actual blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(114, 112, 112, 0.164);
  padding: 16px;
  margin-bottom: 20px;
  
}


